@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1a202c;
    margin: 0;
    padding: 0;
}

.container-background {
    height: 100vh;
    background: url("./assets/blob-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@keyframes float {
    0% {
        transform: translateY(0) translateX(0);
    }
    100% {
        transform: translateY(-1000px) translateX(300px);
    }
}

.float {
    display: inline-block;
    animation: float 10s ease-in-out forwards;
}

.glass {
    border-radius: 59px;
    backdrop-filter: blur(40px);
    background: radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(165, 239, 255, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);
}

.icon-container {
    border-radius: 8px;
    border: 0px solid #011D29;
    background: radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(165, 239, 255, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);;
}

.keyboard {
    /*backdrop-filter: blur(40px);*/
    background: transparent;
    font-family: monospace;
    font-size: 64px;

    .hg-button {
        background: radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(165, 239, 255, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);;
        color: #ffffff;
        border-width: 0;
        height: 100px;
        margin: 6px;
        backdrop-filter: blur(40px);

    }

    .hg-standardBtn {
    }

    .hg-functionBtn {
        width: 22px;
    }
}
