@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1a202c;
    margin: 0;
    padding: 0;
}

.container-background {
    height: 100vh;
    background: url("assets/blob.mp4");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@keyframes float {
    0% {
        transform: translateY(0) translateX(0);
    }
    100% {
        transform: translateY(-1000px) translateX(300px);
    }
}

.float {
    display: inline-block;
    animation: float 10s ease-in-out forwards;
}

.glass {
    border-radius: 59px;
    backdrop-filter: blur(40px);
    background: radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(165, 239, 255, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);
}

.basic-font {
    font-family: 'IBM Plex Mono', monospace;
}

.secondary-font {
    font-family: 'VT323', monospace;
}

.icon-container {
    border-radius: 8px;
    border: 0px solid #011D29;
    background: radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(165, 239, 255, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);;
}

.keyboard {
    /*backdrop-filter: blur(40px);*/
    background: transparent;
    font-family: monospace;
    font-size: 64px;


}

.keyboard .hg-button {
    background: radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(165, 239, 255, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);;
    color: #ffffff;
    border-width: 0;
    height: 71px;
    margin: 6px;
    backdrop-filter: blur(40px);
    width: 80px !important;
}

.keyboard .hg-button-space {
    max-width: 64%;
}

.keyboard .hg-button-space span {
    margin-top: -90px;
    font-size: 96px;
}

.keyboard .hg-button-bksp {
    width: 185px !important;
}

.keyboard .hg-standardBtn {
    font-family: 'VT323', monospace;
}

.keyboard .hg-functionBtn {
    width: 22px;
}

.keyboard .hg-row:nth-child(2) {
    margin: 0 46px;
}

.keyboard .hg-row:nth-child(3) {
    margin-left: 92px;
}

.keyboard .hg-row:nth-child(4) {
    display: flex;
    justify-content: center;
}


.pulsing-gradient {
    background: linear-gradient(0deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0%, 100% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 50% 75%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 25%;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
